</div>
<hr>
<div class="meta" style="padding-top:20px;padding-bottom:20px">
	<h4>{{ 'Purchased With'|t('purchase-patterns') }}</h4>
	<ul>
		{% for p in purchasedWith %}
			<li>
				<a href="{{ p.cpEditUrl }}">{{ p.title }} ({{ p.count }})</a>
			</li>
		{% endfor %}
	</ul>
</div>